@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
body {
/*                background-color:#333;*/
/*                color:#dedede;*/
    background-color:#fff;
    color:#333;
    font-family: 'Roboto', sans-serif;
}
a {
/*                color: #dedede;   */
    color:#333;
}
#auth {
    display:none;   
}
#custom {
    border: dashed black 2px;  
    padding-bottom: 8px;
    padding-left: 12px;
    margin-top: 24px;
}
#custom, #generate {
    transition: 0.5s all;   
}
@media (min-width:800px) and (max-width: 1280px) {
    #custom, #generate {
        width:600px;
        margin-left:auto;
        margin-right:auto;
    }
}
@media (min-width:1280px) {
    #custom {
        width: calc(50% - 18px);
        display: inline-block;
        vertical-align: top;
    }
    #generate {
        width: calc(50% - 32px);
        display: inline-block;
        padding-left: 16px; 
    }
}
#functionDuration {
    margin-top: 12px;
    display: block;   
}
#functionDownload {
    margin-top: 8px;   
}
#generate {
   margin-left: 8px;   
}
#temperature {
    margin-right:8px;   
}
.temperatureInput {
    margin-right: 16px;
    margin-left: 4px;   
}
.secondInput {
    margin-left: 4px;
}   
#error_message {
    color: #F44336;
    display: block;
}
#comport {
    width: 48px;   
}
#connection {
    margin-bottom: 16px;   
}