@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
body {
/*                background-color:#333;*/
/*                color:#dedede;*/
    background-color:#fff;
    color:#333;
    font-family: 'Roboto', sans-serif;
}
a {
/*                color: #dedede;   */
    color:#333;
}
#auth {
    display:none;   
}
#custom {
    border: dashed black 2px;  
    padding-bottom: 8px;
    padding-left: 12px;
    margin-top: 24px;
}
#functionDuration {
    margin-top: 12px;
    display: block;   
}
#functionDownload {
    margin-top: 8px;   
}
#generate {
   margin-left: 8px;   
}
#temperature {
    margin-right:8px;   
}
.temperatureInput {
    margin-right: 16px;
    margin-left: 4px;   
}
.secondInput {
    margin-left: 4px;
}   
#error_message {
    color: #F44336;
}