<html>
    <head>
        <title>FirePi - Temperature Chamber Web Server</title>
        <link href="../static/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>FirePi - Temperature Chamber Web Server</h1>
        
        <p>This is a web server that controls the TestEquity Model 115 Temperature Chamber at Rowan University. Written in Python and running on a Raspberry Pi, it makes it easy to run different temperature profiles on DUTs (devices under test). Whether you want a simple linear function or a complex curve with various types of easing, it is easy to generate any sort of temperature profile here or upload your own through a CSV file. Documentation for the correct CSV format is currently not available. If you want to learn how we did it, check out <a href='https://github.com/chrisfrederickson/firepi' target='_blank'>our GitHub repo</a>. This software project is part of Firefly/Mission to Mars.</p>
        
        <div id='noauth'>
            <!-- Exists by default. The user needs to authenticate. -->
            <p>To use the temperature chamber, you must log in with your Rowan students account.</p>
            <button id='authenticate'>LOG IN</button>
        </div>
        
        <div id='auth'>
            <!-- The user is authenticated, so stuff can work -->
            <input type='number' id='temperature' value="" min="0" max="120" step="0.1"/>CURRENT<br>
            <div id='custom'>
                <h2>You can</h2>
                Upload a custom CSV file: (format TBA)
                <input type="file" id="customcsv">
                <br>
                Drag and drop a file
                <span id='list'></span>
            </div>
            
            <div id='generate'>
                <h2 id='generateHeader'>Or you can</h2>
                Generate your own temperature profile
                
                <div id='functionGenerator'></div>
                <span id='functionDuration'></span>
                <button id='functionDownload'>Download CSV</button>
            </div>
            
        </div>
        
        <script src="../static/index.js"></script>
        <script src="../static/jquery.js"></script>
    </body>
</html>